* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: lavenderblush;
    --dark-color: black;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;

}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*Utitily class*/

.bg-primary {
    background: var(--primary-color);
    color: black;
}
.bg-dark{
    background: var(--dark-color);
    color: white;
}
.bg-dark .bg-primary{
    padding: 0 0.3rem;

}

.section-heading{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 40px;
}

/*Container Class*/

.container {
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;

}

.container-lg {
    max-width: var(--container-wide);
}

.container-sm {
    max-width: var(--container-narrow);
}

/*Header*/
.header {
    margin: 1.5rem auto;
}

.header .logo {
    width: 130px;
}

.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu {
    display: flex;
    gap: 1rem;
}

.header .main-menu a {
    padding: 0.5rem 1rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.current {
    background: var(--primary-color);
    font-weight: 600;
}

.section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section h2 {
    font-size: 45px;
    line-height: 1.3;
    font-weight: normal;
}

.gallery-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    width: calc(33% - 20px);
    border-radius: 10px;
}

.gallery-item img {
    border-radius: 10px;
}

.gallery-item:hover {
    opacity: 0.7;
}

/*footer*/
.footer {
    border-top: 1px solid #aaaaaa;
    padding: 30px 25px;
    margin-top: 30px;
}

.footer .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img{
    width: 120px;
    height: 30px;
}
.footer h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer a{
    margin: 0.2rem;
}

/*Second page about*/
.services{
    background: #333;
    color: white;
    padding: 3rem 0 4rem;

}
.services-flex{
    display: flex;
    gap: 2rem;
}

.service-item h4{
    font-size:1.1rem ;
    margin-bottom: 20px;
}
.team{
    padding: 3rem 0 4rem;
}
.team-flex{
    display: flex;
    gap: 1.4rem;
}
.team img{
    border-radius: 10px;
}
/*media quairies*/

@media (max-width: 768px) {
    .header .header-flex,
    .footer .footer-flex,
    .services .services-flex,
    .team .team-flex{
        flex-direction: column;
        gap: 1.5rem;
    }

    .section {
        height: 300px;

    }

    .section h2 {
        font-size: 30px;
    }

    .gallery-item {
        width: calc(50% - 20px);
    }
    .footer .footer-flex{
        text-align: center;
    }

}



