/*2 no condition*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

/*3 no Header */
.header {
    background: #5e175b;
    color: #fff;
    padding: 10px;
}
/*4 no condition*/
.header h1 {
    text-align: center;
    font-size: 40px;
    text-indent: 20px;
}

/* 5 no Anchor */
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: rebeccapurple;
}
a:active {
    color: red;
}



/*6 no UL */
ul {
    list-style-type: none;
    padding: 0;
}

/* 7 no Main Menu */
.main-menu {
    background: #f4f4f4;
    text-transform: uppercase;
    text-indent: 10px;
}

/*8 no lead paragraph*/
section p:first-of-type {
    font-weight: bold;
    font-size: 20px;
    color: rebeccapurple;
}