*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.section{
    height: 100%;
    background: url("background.jpg") center/cover no-repeat;
    color: white;
    position: relative;
    text-align: center;
}

.section h1{
    font-size: 3rem;
    padding: 1rem;

}
.section p{
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 2.5rem;

}
.section .btn{
    text-decoration: none;
    color: white;
    opacity: 0.9;
    background: #657080;
    padding: 15px;
    border: 2px solid #f2f2fa;
    border-radius: 5px;
    cursor: pointer;
}
.section .btn:hover{
    opacity: 1;
}

.section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .section h1{
        font-size: 2rem;
        line-height: 1.2;
    }
    .section p{
        font-size: 1.3rem;
    }
    .section .btn{
        font-size: 1rem;
    }

}