body {
  font-family: Arial, sans-serif;
  background-color: #fff;

  /*RGB*/
  /*background: rgb(255,0,0);*/

/*  RGBA*/

}
/*Color Naes*/

.sporty{
  color: red;
}

/*Hex Vslues*/

.casual{
  color: #4caf50;
}
.card{
  /*rgba*/
  background-color: rgba(0,0,0,0.5);
/*  hsl*/
  background-color: hsl(0, 50%, 51%);
  /*  hsla*/
  background-color: hsl(0, 50%, 51%,0.2);
}
.card-2{
  background: black;
  color: #fff;
  opacity: 0.5;


}